<div class="container-fluid">
  <div class="jumbotron">
    <h1 class="display-4">Welcome to the Book-crud</h1>
    <p class="lead">A simple Angular assignment to understand DOM!!</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Fuga consequatur, sint dolorem minima quia ex aut odit nihil maxime, reprehenderit repellat incidunt aperiam velit voluptatum illum impedit nobis mollitia inventore.</p>
    <p class="lead">
      <a class="btn btn-primary btn-lg" href="#" role="button">This button does nothing</a>
    </p>
  </div>

</div>